
# Configs
keboola_db_writer_get_configs:
    path: /configs
    defaults: { _controller: KeboolaDbWriterBundle:DbWriter:getConfigs }
    methods:  [GET]

keboola_db_writer_post_configs:
    path: /configs
    defaults: { _controller: KeboolaDbWriterBundle:DbWriter:postConfigs }
    methods:  [POST]

keboola_db_writer_delete_configs:
    path: /configs/{id}
    defaults: { _controller: KeboolaDbWriterBundle:DbWriter:deleteConfig }
    methods:  [DELETE]

# Account
keboola_db_writer_post_account:
    path: /account/{accountId}
    defaults: { _controller: KeboolaDbWriterBundle:DbWriter:postAccount }
    methods:  [POST]

# Rows
keboola_db_writer_get_rows:
    path: /rows/{accountId}
    defaults: { _controller: KeboolaDbWriterBundle:DbWriter:getRows }
    methods:  [GET]

keboola_db_writer_post_rows:
    path: /rows/{accountId}
    defaults: { _controller: KeboolaDbWriterBundle:DbWriter:postRows }
    methods:  [POST]

keboola_db_writer_delete_rows:
    path: /rows/{accountId}/{rowId}
    defaults: { _controller: KeboolaDbWriterBundle:DbWriter:deleteRows }
    methods:  [DELETE]
